@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:  #121213;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.app{
  background-color: red;
  color: red;
  text-align: center;
}
.title-container{
  margin: 0 auto;
  width: 100vw;
  height: 12vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 3%;
  border-bottom: 1px grey solid;
}
.title{
  color: white;
  margin: 0 auto;
}
.input-container{
  margin: 10vh auto;
  width: 28%;
  background-attachment: red;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto auto;
  padding: 5px;
  row-gap: 10px;
  column-gap: 10px;
}
.InputField{
  background-color: transparent;
  color: red;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}
.Correct{
  background-color: #538d4e;
  border: none;
}.Incorrect{
  background-color: #393a3c;
  border: none;
}.ElseWhere{
  background-color: #b49f3b;
  border: none;
}.zoomoutClass{
  color: red;
  animation-name: zoomout;
  animation-duration: 5s;
  animation-iteration-count: 1;
}
@keyframes zoomout{
  from{
    scale: 0;
  }to{
    scale: 1;
  }
}